<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autobiografia</title>
    <link rel="stylesheet" href="../css/autobiografia.css">
</head>
<body>
    <div id="wrapper">
        <article class="instructions">
            <h1>Andres Mosquera</h1>
            <section class="columns">
                <p>Mi nombre es  <code>Andres Felipe Mosquera Padilla</code>tengo 22 años, vivi en la ciudad de bello, soy estudiante de desarrollo de software en la universidad CESDE </p>
                <p>La motivacion principal para estudiar desarrollo de sotfware es poder cambiar de trabajo y aumentar mis ingresos economicos a medida que aumenta mis conocimientos en el desarrollo de software, en el Cesde he logrado conocer los conceptos basicos en logica de programacion, conceptos de html-css y metodologias de progrmacion</p>
            </section>
        </article>
        <img src="../img/foto 1.jpg">
        <a href="file:///C:/Users/harol/OneDrive/Documents/TallerResponsiveAndresMosquera/View/TextoResponsive.html">YO</a>
        <a href="file:///C:/Users/harol/OneDrive/Documents/TallerResponsiveAndresMosquera/View/foto.html">FOTOS</a>
    </div>
</body>
</html>